Calculadora de Pintura/Calculadora de Pintura.sln
Calculadora de Pintura/.vs/Calculadora de Pintura/DesignTimeBuild/.dtbcache.v2
Calculadora de Pintura/.vs/Calculadora de Pintura/v16/.suo
Calculadora de Pintura/Calculadora de Pintura/Calculadora de Pintura.csproj
Calculadora de Pintura/Calculadora de Pintura/bin/Debug/net5.0/Calculadora de Pintura.deps.json
Calculadora de Pintura/Calculadora de Pintura/bin/Debug/net5.0/Calculadora de Pintura.dll
Calculadora de Pintura/Calculadora de Pintura/bin/Debug/net5.0/Calculadora de Pintura.exe
Calculadora de Pintura/Calculadora de Pintura/bin/Debug/net5.0/Calculadora de Pintura.pdb
Calculadora de Pintura/Calculadora de Pintura/bin/Debug/net5.0/Calculadora de Pintura.runtimeconfig.dev.json
Calculadora de Pintura/Calculadora de Pintura/bin/Debug/net5.0/Calculadora de Pintura.runtimeconfig.json
Calculadora de Pintura/Calculadora de Pintura/bin/Debug/net5.0/ref/Calculadora de Pintura.dll
Calculadora de Pintura/Calculadora de Pintura/obj/Calculadora de Pintura.csproj.nuget.dgspec.json
Calculadora de Pintura/Calculadora de Pintura/obj/Calculadora de Pintura.csproj.nuget.g.props
Calculadora de Pintura/Calculadora de Pintura/obj/Calculadora de Pintura.csproj.nuget.g.targets
Calculadora de Pintura/Calculadora de Pintura/obj/project.assets.json
Calculadora de Pintura/Calculadora de Pintura/obj/project.nuget.cache
Calculadora de Pintura/Calculadora de Pintura/obj/Debug/net5.0/apphost.exe
Calculadora de Pintura/Calculadora de Pintura/obj/Debug/net5.0/Calculadora de Pintura.AssemblyInfoInputs.cache
Calculadora de Pintura/Calculadora de Pintura/obj/Debug/net5.0/Calculadora de Pintura.assets.cache
Calculadora de Pintura/Calculadora de Pintura/obj/Debug/net5.0/Calculadora de Pintura.csproj.AssemblyReference.cache
Calculadora de Pintura/Calculadora de Pintura/obj/Debug/net5.0/Calculadora de Pintura.csproj.CoreCompileInputs.cache
Calculadora de Pintura/Calculadora de Pintura/obj/Debug/net5.0/Calculadora de Pintura.csproj.FileListAbsolute.txt
Calculadora de Pintura/Calculadora de Pintura/obj/Debug/net5.0/Calculadora de Pintura.dll
Calculadora de Pintura/Calculadora de Pintura/obj/Debug/net5.0/Calculadora de Pintura.GeneratedMSBuildEditorConfig.editorconfig
Calculadora de Pintura/Calculadora de Pintura/obj/Debug/net5.0/Calculadora de Pintura.genruntimeconfig.cache
Calculadora de Pintura/Calculadora de Pintura/obj/Debug/net5.0/Calculadora de Pintura.pdb
Calculadora de Pintura/Calculadora de Pintura/obj/Debug/net5.0/ref/Calculadora de Pintura.dll
CalculadoraSignos/CalculadoraSignos.csproj
CalculadoraSignos/CalculadoraSignos.sln
CalculadoraSignos/.vs/slnx.sqlite
CalculadoraSignos/.vs/VSWorkspaceState.json
CalculadoraSignos/.vs/CalculadoraSignos/DesignTimeBuild/.dtbcache.v2
CalculadoraSignos/.vs/CalculadoraSignos/v16/.suo
CalculadoraSignos/bin/Debug/net5.0/CalculadoraSignos.deps.json
CalculadoraSignos/bin/Debug/net5.0/CalculadoraSignos.dll
CalculadoraSignos/bin/Debug/net5.0/CalculadoraSignos.exe
CalculadoraSignos/bin/Debug/net5.0/CalculadoraSignos.pdb
CalculadoraSignos/bin/Debug/net5.0/CalculadoraSignos.runtimeconfig.dev.json
CalculadoraSignos/bin/Debug/net5.0/CalculadoraSignos.runtimeconfig.json
CalculadoraSignos/bin/Debug/net5.0/ref/CalculadoraSignos.dll
CalculadoraSignos/obj/CalculadoraSignos.csproj.nuget.dgspec.json
CalculadoraSignos/obj/CalculadoraSignos.csproj.nuget.g.props
CalculadoraSignos/obj/CalculadoraSignos.csproj.nuget.g.targets
CalculadoraSignos/obj/project.assets.json
CalculadoraSignos/obj/project.nuget.cache
CalculadoraSignos/obj/Debug/net5.0/apphost.exe
CalculadoraSignos/obj/Debug/net5.0/CalculadoraSignos.AssemblyInfoInputs.cache
CalculadoraSignos/obj/Debug/net5.0/CalculadoraSignos.assets.cache
CalculadoraSignos/obj/Debug/net5.0/CalculadoraSignos.csproj.AssemblyReference.cache
CalculadoraSignos/obj/Debug/net5.0/CalculadoraSignos.csproj.CoreCompileInputs.cache
CalculadoraSignos/obj/Debug/net5.0/CalculadoraSignos.csproj.FileListAbsolute.txt
CalculadoraSignos/obj/Debug/net5.0/CalculadoraSignos.dll
CalculadoraSignos/obj/Debug/net5.0/CalculadoraSignos.GeneratedMSBuildEditorConfig.editorconfig
CalculadoraSignos/obj/Debug/net5.0/CalculadoraSignos.genruntimeconfig.cache
CalculadoraSignos/obj/Debug/net5.0/CalculadoraSignos.pdb
CalculadoraSignos/obj/Debug/net5.0/ref/CalculadoraSignos.dll
CalculadoraSignos/obj/Release/net5.0/CalculadoraSignos.AssemblyInfoInputs.cache
CalculadoraSignos/obj/Release/net5.0/CalculadoraSignos.assets.cache
CalculadoraSignos/obj/Release/net5.0/CalculadoraSignos.GeneratedMSBuildEditorConfig.editorconfig
ConversorTemperaturas/ConversorTemperaturas.sln
ConversorTemperaturas/.vs/ProjectSettings.json
ConversorTemperaturas/.vs/slnx.sqlite
ConversorTemperaturas/.vs/VSWorkspaceState.json
ConversorTemperaturas/.vs/ConversorTemperaturas/DesignTimeBuild/.dtbcache.v2
ConversorTemperaturas/.vs/ConversorTemperaturas/v16/.suo
EstruturaSequencial/EstruturaSequencial.csproj
EstruturaSequencial/.vscode/launch.json
EstruturaSequencial/.vscode/tasks.json
EstruturaSequencial/bin/Debug/net6.0/EstruturaSequencial.deps.json
EstruturaSequencial/bin/Debug/net6.0/EstruturaSequencial.dll
EstruturaSequencial/bin/Debug/net6.0/EstruturaSequencial.exe
EstruturaSequencial/bin/Debug/net6.0/EstruturaSequencial.pdb
EstruturaSequencial/bin/Debug/net6.0/EstruturaSequencial.runtimeconfig.json
EstruturaSequencial/obj/EstruturaSequencial.csproj.nuget.dgspec.json
EstruturaSequencial/obj/EstruturaSequencial.csproj.nuget.g.props
EstruturaSequencial/obj/EstruturaSequencial.csproj.nuget.g.targets
EstruturaSequencial/obj/project.assets.json
EstruturaSequencial/obj/project.nuget.cache
EstruturaSequencial/obj/Debug/net6.0/apphost.exe
EstruturaSequencial/obj/Debug/net6.0/EstruturaSequencial.AssemblyInfoInputs.cache
EstruturaSequencial/obj/Debug/net6.0/EstruturaSequencial.assets.cache
EstruturaSequencial/obj/Debug/net6.0/EstruturaSequencial.csproj.AssemblyReference.cache
EstruturaSequencial/obj/Debug/net6.0/EstruturaSequencial.csproj.CoreCompileInputs.cache
EstruturaSequencial/obj/Debug/net6.0/EstruturaSequencial.csproj.FileListAbsolute.txt
EstruturaSequencial/obj/Debug/net6.0/EstruturaSequencial.dll
EstruturaSequencial/obj/Debug/net6.0/EstruturaSequencial.GeneratedMSBuildEditorConfig.editorconfig
EstruturaSequencial/obj/Debug/net6.0/EstruturaSequencial.genruntimeconfig.cache
EstruturaSequencial/obj/Debug/net6.0/EstruturaSequencial.pdb
EstruturaSequencial/obj/Debug/net6.0/ref/EstruturaSequencial.dll
EstruturaSequencial/obj/Debug/net6.0/refint/EstruturaSequencial.dll
Prova/Exercicio22/Exercicio22.csproj
Prova/Exercicio22/.vscode/launch.json
Prova/Exercicio22/.vscode/tasks.json
Prova/Exercicio22/bin/Debug/net6.0/Exercicio22.deps.json
Prova/Exercicio22/bin/Debug/net6.0/Exercicio22.dll
Prova/Exercicio22/bin/Debug/net6.0/Exercicio22.exe
Prova/Exercicio22/bin/Debug/net6.0/Exercicio22.pdb
Prova/Exercicio22/bin/Debug/net6.0/Exercicio22.runtimeconfig.json
Prova/Exercicio22/obj/Exercicio22.csproj.nuget.dgspec.json
Prova/Exercicio22/obj/Exercicio22.csproj.nuget.g.props
Prova/Exercicio22/obj/Exercicio22.csproj.nuget.g.targets
Prova/Exercicio22/obj/project.assets.json
Prova/Exercicio22/obj/project.nuget.cache
Prova/Exercicio22/obj/Debug/net6.0/apphost.exe
Prova/Exercicio22/obj/Debug/net6.0/Exercicio22.AssemblyInfoInputs.cache
Prova/Exercicio22/obj/Debug/net6.0/Exercicio22.assets.cache
Prova/Exercicio22/obj/Debug/net6.0/Exercicio22.csproj.AssemblyReference.cache
Prova/Exercicio22/obj/Debug/net6.0/Exercicio22.csproj.CoreCompileInputs.cache
Prova/Exercicio22/obj/Debug/net6.0/Exercicio22.csproj.FileListAbsolute.txt
Prova/Exercicio22/obj/Debug/net6.0/Exercicio22.dll
Prova/Exercicio22/obj/Debug/net6.0/Exercicio22.GeneratedMSBuildEditorConfig.editorconfig
Prova/Exercicio22/obj/Debug/net6.0/Exercicio22.genruntimeconfig.cache
Prova/Exercicio22/obj/Debug/net6.0/Exercicio22.pdb
Prova/Exercicio22/obj/Debug/net6.0/ref/Exercicio22.dll
Prova/Exercicio22/obj/Debug/net6.0/refint/Exercicio22.dll
Prova/Exercicio3/Exercicio3.csproj
Prova/Exercicio3/.vscode/launch.json
Prova/Exercicio3/.vscode/tasks.json
Prova/Exercicio3/bin/Debug/net6.0/Exercicio3.deps.json
Prova/Exercicio3/bin/Debug/net6.0/Exercicio3.dll
Prova/Exercicio3/bin/Debug/net6.0/Exercicio3.exe
Prova/Exercicio3/bin/Debug/net6.0/Exercicio3.pdb
Prova/Exercicio3/bin/Debug/net6.0/Exercicio3.runtimeconfig.json
Prova/Exercicio3/obj/Exercicio3.csproj.nuget.dgspec.json
Prova/Exercicio3/obj/Exercicio3.csproj.nuget.g.props
Prova/Exercicio3/obj/Exercicio3.csproj.nuget.g.targets
Prova/Exercicio3/obj/project.assets.json
Prova/Exercicio3/obj/project.nuget.cache
Prova/Exercicio3/obj/Debug/net6.0/apphost.exe
Prova/Exercicio3/obj/Debug/net6.0/Exercicio3.AssemblyInfoInputs.cache
Prova/Exercicio3/obj/Debug/net6.0/Exercicio3.assets.cache
Prova/Exercicio3/obj/Debug/net6.0/Exercicio3.csproj.AssemblyReference.cache
Prova/Exercicio3/obj/Debug/net6.0/Exercicio3.csproj.CoreCompileInputs.cache
Prova/Exercicio3/obj/Debug/net6.0/Exercicio3.csproj.FileListAbsolute.txt
Prova/Exercicio3/obj/Debug/net6.0/Exercicio3.dll
Prova/Exercicio3/obj/Debug/net6.0/Exercicio3.GeneratedMSBuildEditorConfig.editorconfig
Prova/Exercicio3/obj/Debug/net6.0/Exercicio3.genruntimeconfig.cache
Prova/Exercicio3/obj/Debug/net6.0/Exercicio3.pdb
Prova/Exercicio3/obj/Debug/net6.0/ref/Exercicio3.dll
Prova/Exercicio3/obj/Debug/net6.0/refint/Exercicio3.dll
Prova/Questao1.1/Questao1.1.csproj
Prova/Questao1.1/bin/Debug/net6.0/Questao1.1.deps.json
Prova/Questao1.1/bin/Debug/net6.0/Questao1.1.dll
Prova/Questao1.1/bin/Debug/net6.0/Questao1.1.exe
Prova/Questao1.1/bin/Debug/net6.0/Questao1.1.pdb
Prova/Questao1.1/bin/Debug/net6.0/Questao1.1.runtimeconfig.json
Prova/Questao1.1/obj/project.assets.json
Prova/Questao1.1/obj/project.nuget.cache
Prova/Questao1.1/obj/Questao1.1.csproj.nuget.dgspec.json
Prova/Questao1.1/obj/Questao1.1.csproj.nuget.g.props
Prova/Questao1.1/obj/Questao1.1.csproj.nuget.g.targets
Prova/Questao1.1/obj/Debug/net6.0/apphost.exe
Prova/Questao1.1/obj/Debug/net6.0/Questao1.1.AssemblyInfoInputs.cache
Prova/Questao1.1/obj/Debug/net6.0/Questao1.1.assets.cache
Prova/Questao1.1/obj/Debug/net6.0/Questao1.1.csproj.AssemblyReference.cache
Prova/Questao1.1/obj/Debug/net6.0/Questao1.1.csproj.CoreCompileInputs.cache
Prova/Questao1.1/obj/Debug/net6.0/Questao1.1.csproj.FileListAbsolute.txt
Prova/Questao1.1/obj/Debug/net6.0/Questao1.1.dll
Prova/Questao1.1/obj/Debug/net6.0/Questao1.1.GeneratedMSBuildEditorConfig.editorconfig
Prova/Questao1.1/obj/Debug/net6.0/Questao1.1.genruntimeconfig.cache
Prova/Questao1.1/obj/Debug/net6.0/Questao1.1.pdb
Prova/Questao1.1/obj/Debug/net6.0/ref/Questao1.1.dll
Prova/Questao1.1/obj/Debug/net6.0/refint/Questao1.1.dll
EstruturaCondicional/bin/Debug/net6.0/EstruturaCondicional.deps.json
EstruturaCondicional/bin/Debug/net6.0/EstruturaCondicional.dll
EstruturaCondicional/bin/Debug/net6.0/EstruturaCondicional.exe
EstruturaCondicional/bin/Debug/net6.0/EstruturaCondicional.pdb
EstruturaCondicional/bin/Debug/net6.0/EstruturaCondicional.runtimeconfig.json
EstruturaCondicional/obj/EstruturaCondicional.csproj.nuget.dgspec.json
EstruturaCondicional/obj/EstruturaCondicional.csproj.nuget.g.props
EstruturaCondicional/obj/EstruturaCondicional.csproj.nuget.g.targets
EstruturaCondicional/obj/project.assets.json
EstruturaCondicional/obj/project.nuget.cache
EstruturaCondicional/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
EstruturaCondicional/obj/Debug/net6.0/apphost.exe
EstruturaCondicional/obj/Debug/net6.0/EstruturaCondicional.AssemblyInfo.cs
EstruturaCondicional/obj/Debug/net6.0/EstruturaCondicional.AssemblyInfoInputs.cache
EstruturaCondicional/obj/Debug/net6.0/EstruturaCondicional.assets.cache
EstruturaCondicional/obj/Debug/net6.0/EstruturaCondicional.csproj.AssemblyReference.cache
EstruturaCondicional/obj/Debug/net6.0/EstruturaCondicional.csproj.CoreCompileInputs.cache
EstruturaCondicional/obj/Debug/net6.0/EstruturaCondicional.csproj.FileListAbsolute.txt
EstruturaCondicional/obj/Debug/net6.0/EstruturaCondicional.dll
EstruturaCondicional/obj/Debug/net6.0/EstruturaCondicional.GeneratedMSBuildEditorConfig.editorconfig
EstruturaCondicional/obj/Debug/net6.0/EstruturaCondicional.genruntimeconfig.cache
EstruturaCondicional/obj/Debug/net6.0/EstruturaCondicional.GlobalUsings.g.cs
EstruturaCondicional/obj/Debug/net6.0/EstruturaCondicional.pdb
EstruturaCondicional/obj/Debug/net6.0/ref/EstruturaCondicional.dll
EstruturaCondicional/obj/Debug/net6.0/refint/EstruturaCondicional.dll
EstruturaWhile/bin/Debug/net6.0/EstruturaWhile.deps.json
EstruturaWhile/bin/Debug/net6.0/EstruturaWhile.dll
EstruturaWhile/bin/Debug/net6.0/EstruturaWhile.exe
EstruturaWhile/bin/Debug/net6.0/EstruturaWhile.pdb
EstruturaWhile/bin/Debug/net6.0/EstruturaWhile.runtimeconfig.json
EstruturaWhile/obj/EstruturaWhile.csproj.nuget.dgspec.json
EstruturaWhile/obj/EstruturaWhile.csproj.nuget.g.props
EstruturaWhile/obj/EstruturaWhile.csproj.nuget.g.targets
EstruturaWhile/obj/project.assets.json
EstruturaWhile/obj/project.nuget.cache
EstruturaWhile/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
EstruturaWhile/obj/Debug/net6.0/apphost.exe
EstruturaWhile/obj/Debug/net6.0/EstruturaWhile.AssemblyInfo.cs
EstruturaWhile/obj/Debug/net6.0/EstruturaWhile.AssemblyInfoInputs.cache
EstruturaWhile/obj/Debug/net6.0/EstruturaWhile.assets.cache
EstruturaWhile/obj/Debug/net6.0/EstruturaWhile.csproj.AssemblyReference.cache
EstruturaWhile/obj/Debug/net6.0/EstruturaWhile.csproj.CoreCompileInputs.cache
EstruturaWhile/obj/Debug/net6.0/EstruturaWhile.csproj.FileListAbsolute.txt
EstruturaWhile/obj/Debug/net6.0/EstruturaWhile.dll
EstruturaWhile/obj/Debug/net6.0/EstruturaWhile.GeneratedMSBuildEditorConfig.editorconfig
EstruturaWhile/obj/Debug/net6.0/EstruturaWhile.genruntimeconfig.cache
EstruturaWhile/obj/Debug/net6.0/EstruturaWhile.GlobalUsings.g.cs
EstruturaWhile/obj/Debug/net6.0/EstruturaWhile.pdb
EstruturaWhile/obj/Debug/net6.0/ref/EstruturaWhile.dll
EstruturaWhile/obj/Debug/net6.0/refint/EstruturaWhile.dll
EstruturaFor/EstruturaFor.csproj
EstruturaFor/exercicios4-estrutura-for.pdf
EstruturaFor/bin/Debug/net6.0/EstruturaFor.deps.json
EstruturaFor/bin/Debug/net6.0/EstruturaFor.dll
EstruturaFor/bin/Debug/net6.0/EstruturaFor.exe
EstruturaFor/bin/Debug/net6.0/EstruturaFor.pdb
EstruturaFor/bin/Debug/net6.0/EstruturaFor.runtimeconfig.json
EstruturaFor/obj/EstruturaFor.csproj.nuget.dgspec.json
EstruturaFor/obj/EstruturaFor.csproj.nuget.g.props
EstruturaFor/obj/EstruturaFor.csproj.nuget.g.targets
EstruturaFor/obj/project.assets.json
EstruturaFor/obj/project.nuget.cache
EstruturaFor/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
EstruturaFor/obj/Debug/net6.0/apphost.exe
EstruturaFor/obj/Debug/net6.0/EstruturaFor.AssemblyInfo.cs
EstruturaFor/obj/Debug/net6.0/EstruturaFor.AssemblyInfoInputs.cache
EstruturaFor/obj/Debug/net6.0/EstruturaFor.assets.cache
EstruturaFor/obj/Debug/net6.0/EstruturaFor.csproj.AssemblyReference.cache
EstruturaFor/obj/Debug/net6.0/EstruturaFor.csproj.CoreCompileInputs.cache
EstruturaFor/obj/Debug/net6.0/EstruturaFor.csproj.FileListAbsolute.txt
EstruturaFor/obj/Debug/net6.0/EstruturaFor.dll
EstruturaFor/obj/Debug/net6.0/EstruturaFor.GeneratedMSBuildEditorConfig.editorconfig
EstruturaFor/obj/Debug/net6.0/EstruturaFor.genruntimeconfig.cache
EstruturaFor/obj/Debug/net6.0/EstruturaFor.GlobalUsings.g.cs
EstruturaFor/obj/Debug/net6.0/EstruturaFor.pdb
EstruturaFor/obj/Debug/net6.0/ref/EstruturaFor.dll
EstruturaFor/obj/Debug/net6.0/refint/EstruturaFor.dll
